<ActionBar title="ToDo List" class="action-bar">
  <!--<ActionItem (tap)="addItem()" text="Add" ios.systemIcon="4" ios.position="right" android.position="popup"></ActionItem>-->
</ActionBar>

<StackLayout class="page">
  <ListView id="todoList" [items]="todoList" class="list-group">
      <template let-item="item">
        <StackLayout orientation="horizontal" [nsRouterLink]="['/detail', item.id]">
          <Switch #sw [checked]="item.isDone" (tap)="updateStatus(item.id, sw.checked)"></Switch>
          <Label [text]="item.title" class="list-group-item todo-title"></Label>
        </StackLayout>
      </template>
  </ListView>
</StackLayout>

<FAB (tap)="addItem()" hideOnSwipeOfView="todoList" icon="res://add" rippleColor="#f1f1f1" class="fab-button"></FAB>